{% extends 'core/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/book_appointment.css' %}">
{% endblock %}

{% block content %}
<div class="appointment-container">
    <h1 class="appointment-title">Book an Appointment with {{ specialist.user.username }}</h1>
    <form method="POST" class="appointment-form">
        {% csrf_token %}
        <div class="form-fields">
            {{ form.as_p }}
        </div>
        <button type="submit" class="submit-btn">Book Appointment</button>
    </form>
</div>
{% endblock %}