{% extends "core/base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/patient_appointments.css' %}">
{% endblock %}

{% block content %}
<h1>Your Appointments</h1>
<ul>
    {% for appointment in appointments %}
        <li>
            Appointment with Specialist, {{ appointment.specialist.user.get_full_name }} on 
            {{ appointment.date }} at {{ appointment.time }}{% if appointment.status != 'Cancelled' and appointment.date >= today %}
                <a href="{% url 'confirm_cancel_appointment' appointment.id %}" class="btn btn-danger">Cancel Appointment</a>
            {% elif appointment.status == 'Cancelled' %}
                <span class="text-muted">(Cancelled)</span>
            {% else %}
                <span class="text-muted">(Past Appointment)</span>
            {% endif %}
        </li>
    {% empty %}
        <p>No appointments found.</p>
    {% endfor %}
</ul>
{% endblock %}
