{% extends "core/base.html" %}

{% block content %}
<h1>Appointments with Patients</h1>
<ul>
    {% for appointment in appointments %}
        <li>
            Appointment with {{ appointment.patient.user.get_full_name }} on {{ appointment.date }} at {{ appointment.time }}
            <a href="{% url 'view_patient_details' appointment.patient.id %}" class="btn btn-info">View Patient Details</a>
            {% if appointment.status != 'Cancelled' and appointment.date >= today %}
                <a href="{% url 'confirm_cancel_appointment' appointment.id %}" class="btn btn-danger">Cancel Appointment</a>
            {% elif appointment.status == 'Cancelled' %}
                <span class="text-muted">(Cancelled)</span>
            {% else %}
                <span class="text-muted">(Past Appointment)</span>
            {% endif %}
        </li>
    {% empty %}
        <p>No appointments found.</p>
    {% endfor %}
</ul>
{% endblock %}
