{% extends "core/base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/specialist_appointments.css' %}">
{% endblock %}

{% block content %}
<h1 class="appointments-title">Appointments with Patients</h1>

<div class="appointments-list">
    <ul>
        {% for appointment in appointments %}
        <li class="appointment-item">

            <p>
                Appointment with <strong>{{ appointment.patient.user.get_full_name }}</strong> on
                <span class="appointment-date">{{ appointment.date }}</span> at
                <span class="appointment-time">{{ appointment.time }}</span>
            </p>

            <div class="appointment-actions">
                <a href="{% url 'view_patient_details' appointment.patient.id %}" class="btn-view">View Patient
                    Details</a>
                {% if appointment.status != 'Cancelled' and appointment.date >= today %}
                <a href="{% url 'confirm_cancel_appointment' appointment.id %}" class="btn-cancel">Cancel
                    Appointment</a>
                {% elif appointment.status == 'Cancelled' %}
                <span class="status-text cancelled">(Cancelled)</span>
                {% else %}
                <span class="status-text past">(Past Appointment)</span>
                {% endif %}
            </div>
        </li>
        {% empty %}
        <p class="no-appointments">No appointments found.</p>
        {% endfor %}
    </ul>
</div>
{% endblock %}