{% load static %}
{% load custom_tags %} <!-- Load the custom template tag -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}HealMate{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Navigation Bar -->
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'tools' %}">Tools</a></li>
            <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
            <li><a href="{% url 'join_us' %}">Join Us</a></li>
            <li><a href="{% url 'faq' %}">FAQ</a></li>

            {% if user.is_authenticated %}
                <li class="user-dropdown">
                    {% if user.is_superuser %}
                        <a href="{% url 'admin_dashboard' %}">{{ user.username }} (click to visit dashboard)</a>
                    {% elif user|has_group:"Specialist" %}
                        <a href="{% url 'specialist_dashboard' %}">{{ user.username }} (click to visit dashboard)</a>
                    {% elif user|has_group:"Patient" %}
                        <a href="{% url 'patient_dashboard' %}">{{ user.username }} (click to visit dashboard)</a>
                    {% endif %}
                    <div class="dropdown-content">
                        <a href="{% url 'patient_profile' %}">Profile</a>
                        <a href="{% url 'account_change_password' %}">Change Password</a>
                        <a href="{% url 'account_logout' %}">Logout</a>
                </div>
            </li>
            {% else %}
                <li><a href="{% url 'account_login' %}">Login</a></li>
                <li><a href="{% url 'account_signup' %}">Register</a></li>
            {% endif %}
        </ul>
    </nav>

    <!-- Page Content -->
    <div>
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 HealMate. All rights reserved.</p>
        <p>
            <a href="#">Privacy Policy</a> | 
            <a href="#">Terms of Service</a>
        </p>
    </footer>
</body>
</html>
