{% load static %}

<!-- Load the custom template tag -->
{% load custom_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="HealMate connects patients with trusted healthcare specialists for easy and accessible online consultations.">
    <meta name="keywords"
        content="healthcare, specialists, doctors, consultations, online appointments, healmate, medical specialists">
    <meta name="author" content="Henry Ofodieze">
    <meta name="robots" content="index, follow">
    <title>{% block title %}HealMate - Your Trusted Healthcare Platform{% endblock %}</title>

    <!-- Link to main CSS file -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Block for additional CSS -->
    {% block extra_css %}{% endblock %}

    <!-- Favicon links -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">


</head>

<body>
    <header>
        <!-- Logo and accounts -->
        <div id="logo-accouunts-container">
            <div id="logo">
                <a href="{% url 'home' %}">
                    <h1 id="logo-link" aria-label="Website logo (Opens the home page)">HealMate</h1>
                </a>
            </div>
            <div id="accounts">
                {% if user.is_authenticated %}
                {% if user|has_group:"Specialist" %}
                <li><i class="fa-solid fa-user"></i><a href="{% url 'specialist_profile' %}"
                        class="{% if request.resolver_match.url_name == 'specialist_profile' %}current{% endif %}"
                        aria-label="Menu Specialist Profile link (Opens Specialist Profile page)">Profile</a>
                </li>
                <li><a href="{% url 'account_logout' %}"
                        class="{% if request.resolver_match.url_name == 'account_logout' %}current{% endif %}"
                        aria-label="Menu Logout link (Logs you out)">Logout</a>
                </li>
                {% elif user|has_group:"Patient" %}
                <li><i class="fa-solid fa-user"></i><a href="{% url 'patient_profile' %}"
                        class="{% if request.resolver_match.url_name == 'patient_profile' %}current{% endif %}"
                        aria-label="Menu Patient Profile link (Opens Patient Profile page)">Profile</a>
                </li>
                <li><a href="{% url 'account_logout' %}"
                        class="{% if request.resolver_match.url_name == 'account_logout' %}current{% endif %}"
                        aria-label="Menu Logout link (Logs you out)">Logout</a>
                </li>
                {% endif %}

                {% else %}
                <li><i class="fa-solid fa-right-to-bracket"></i><a href="{% url 'account_login' %}"
                        class="{% if request.resolver_match.url_name == 'account_login' %}current{% endif %}"
                        aria-label="Menu Login link (Opens the Login page)">Login</a>
                </li>
                <li><a href="{% url 'account_signup' %}"
                        class="{% if request.resolver_match.url_name == 'account_signup' %}current{% endif %}"
                        aria-label="Menu Register link (Opens the Register page)">Register</a>
                </li>
                {% endif %}
            </div>
        </div>

        <!-- Navigation Bar -->
        <nav id="main-nav">
            <div id="nav-container">
                <ul class="nav-list">
                    {% if user.is_authenticated %}
                    {% if user|has_group:"Specialist" %}
                    <!-- Specialist-specific links -->
                    <li><a href="{% url 'specialist_dashboard' %}"
                            class="{% if request.resolver_match.url_name == 'specialist_dashboard' %}active{% endif %}"
                            aria-label="Menu Dashboard link (Opens Specialist Dashboard)">Dashboard</a></li>
                    <li><a href="{% url 'inbox' %}"
                            class="{% if request.resolver_match.url_name == 'inbox' %}active{% endif %}"
                            aria-label="Menu Messages link (Opens Specialist Messages)">Messages</a></li>
                    <li><a href="{% url 'specialist_appointments' %}"
                            class="{% if request.resolver_match.url_name == 'specialist_appointments' %}active{% endif %}"
                            aria-label="Menu Appointments link (Opens Specialist Appointments)">Appointments</a></li>
                    {% elif user|has_group:"Patient" %}
                    <!-- Patient-specific links -->
                    <li><a href="{% url 'home' %}"
                            class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}"
                            aria-label="Menu Home link (Opens the Home page)">Home</a></li>
                    <li><a href="{% url 'patient_dashboard' %}"
                            class="{% if request.resolver_match.url_name == 'patient_dashboard' %}active{% endif %}"
                            aria-label="Menu Dashboard link (Opens Patient Dashboard)">Dashboard</a></li>
                    <li><a href="{% url 'inbox' %}"
                            class="{% if request.resolver_match.url_name == 'inbox' %}active{% endif %}"
                            aria-label="Menu Messages link (Opens Patient Messages)">Messages</a></li>
                    <li><a href="{% url 'patient_appointments' %}"
                            class="{% if request.resolver_match.url_name == 'patient_appointments' %}active{% endif %}"
                            aria-label="Menu Appointments link (Opens Patient Appointments)">Appointments</a></li>
                    {% elif user.is_superuser %}
                    <!-- Admin-specific links -->
                    <li><a href="{% url 'admin_dashboard' %}"
                            class="{% if request.resolver_match.url_name == 'admin_dashboard' %}active{% endif %}"
                            aria-label="Menu Admin Dashboard link (Opens Admin Dashboard)">Admin Dashboard</a></li>
                    {% else %}
                    <!-- General navigation for other users -->
                    <li><a href="{% url 'home' %}"
                            class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}"
                            aria-label="Menu Home link (Opens the Home page)">Home</a></li>
                    <li><a href="{% url 'about' %}"
                            class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}"
                            aria-label="Menu About link (Opens the About page)">About</a></li>
                    <li><a href="{% url 'tools' %}"
                            class="{% if request.resolver_match.url_name == 'tools' %}active{% endif %}"
                            aria-label="Menu Tools link (Opens the Tools page)">Tools</a></li>
                    <li><a href="{% url 'contact_us' %}"
                            class="{% if request.resolver_match.url_name == 'contact_us' %}active{% endif %}"
                            aria-label="Menu Contact Us link (Opens the Contact Us page)">Contact Us</a></li>
                    <li><a href="{% url 'join_us' %}"
                            class="{% if request.resolver_match.url_name == 'join_us' %}active{% endif %}"
                            aria-label="Menu Join Us link (Opens the Join Us page)">Join Us</a></li>
                    <li><a href="{% url 'faq' %}"
                            class="{% if request.resolver_match.url_name == 'faq' %}active{% endif %}"
                            aria-label="Menu FAQ link (Opens the FAQ page)">FAQ</a></li>
                    {% endif %}
                    {% else %}
                    <!-- Links for non-authenticated users -->
                    <li><a href="{% url 'home' %}"
                            class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}"
                            aria-label="Menu Home link (Opens the Home page)">Home</a></li>
                    <li><a href="{% url 'about' %}"
                            class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}"
                            aria-label="Menu About link (Opens the About page)">About</a></li>
                    <li><a href="{% url 'contact_us' %}"
                            class="{% if request.resolver_match.url_name == 'contact_us' %}active{% endif %}"
                            aria-label="Menu Contact Us link (Opens the Contact Us page)">Contact Us</a></li>
                    <li><a href="{% url 'join_us' %}"
                            class="{% if request.resolver_match.url_name == 'join_us' %}active{% endif %}"
                            aria-label="Menu Join Us link (Opens the Join Us page)">Join Us</a></li>
                    <li><a href="{% url 'faq' %}"
                            class="{% if request.resolver_match.url_name == 'faq' %}active{% endif %}"
                            aria-label="Menu FAQ link (Opens the FAQ page)">FAQ</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    <!-- Confirmation message function -->
    {% if messages %}
    <ul id="confirmation-message">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}

    <main>
        <!-- Page Content -->
        <div id="content-container">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <!-- Footer -->
    <footer id="main-footer">
        <ul id="socials">
            <li><a href="http://facebook.com" target="_blank" rel="noopener"
                    aria-label="Visit our Facebook page (Opens Facebook website on a new browser)"><i
                        class="fa-brands fa-facebook"></i></a></li>
            <li><a href="http://twitter.com" target="_blank" rel="noopener"
                    aria-label="Visit our Twitter page (Opens Twitter website on a new browser)"><i
                        class="fa-brands fa-twitter"></i></a></li>
            <li><a href="http://pinterest.com" target="_blank" rel="noopener"
                    aria-label="Visit our Pinterest page (Opens Pinterest website on a new browser)"><i
                        class="fa-brands fa-pinterest"></i></a></li>
            <li><a href="http://instagram.com" target="_blank" rel="noopener"
                    aria-label="Visit our Instagram page (Opens Instagram website on a new browser)"><i
                        class="fa-brands fa-instagram"></i></a></li>
            <li><a href="http://youtube.com" target="_blank" rel="noopener"
                    aria-label="Visit our Youtube page (Opens Youtube website on a new browser)"><i
                        class="fa-brands fa-youtube"></i></a></li>
        </ul>
        <p>&copy; 2024 HealMate. All rights reserved.</p>
        <p>
            <a href="#" aria-label="Privacy Policy (Opens Privacy Policy page)">Privacy Policy</a> |
            <a href="#" aria-label="Terms of Service (Opens Terms of Service page)">Terms of Service</a>
        </p>
    </footer>

    <!-- Font Awesome Script -->
    <script src="https://kit.fontawesome.com/f40ce1e09e.js" crossorigin="anonymous"></script>
    {% block extra_js %}{% endblock %}
</body>

</html>