{% load static %}
{% load custom_tags %}
<!-- Load the custom template tag -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}HealMate{% endblock %}</title>

    <!-- Link to main CSS file -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <header>
        <!-- Logo and accounts -->
        <div id="logo-accouunts-container">
            <div id="logo">
                <a href="{% url 'home' %}">
                    <h1 id="logo-link" aria-label="Website logo (Opens the home page)">HealMate</h1>
                </a>
            </div>
            <div id="accounts">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'account_change_password' %}">Change Password</a></li>
                    <li><a href="{% url 'account_logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'account_login' %}">Login</a></li>
                    <li><a href="{% url 'account_signup' %}">Register</a></li>
                {% endif %}
            </div>
        </div>

        <!-- Navigation Bar -->
        <nav id="main-nav">
            <ul class="nav-list">
                {% if user.is_authenticated %}
                    {% if user|has_group:"Specialist" %}
                    <!-- Specialist-specific links -->
                    <li><a href="{% url 'specialist_dashboard' %}">Dashboard</a></li>
                    <li><a href="{% url 'specialist_profile' %}">Profile</a></li>
                    <li><a href="{% url 'inbox' %}">Messages</a></li>
                    <li><a href="{% url 'specialist_appointments' %}">Appointments</a></li>
                    {% elif user|has_group:"Patient" %}
                    <!-- Patient-specific links -->
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
                    <li><a href="{% url 'patient_dashboard' %}">Dashboard</a></li>
                    <li><a href="{% url 'patient_profile' %}">Profile</a></li>
                    <li><a href="{% url 'inbox' %}">Messages</a></li>
                    <li><a href="{% url 'patient_appointments' %}">Appointments</a></li>
                    {% elif user.is_superuser %}
                    <!-- Admin-specific links -->
                    <li><a href="{% url 'admin_dashboard' %}">Admin Dashboard</a></li>
                    {% else %}
                    <!-- General navigation for other users -->
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'tools' %}">Tools</a></li>
                    <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
                    <li><a href="{% url 'join_us' %}">Join Us</a></li>
                    <li><a href="{% url 'faq' %}">FAQ</a></li>
                    {% endif %}
                {% else %}
                    <!-- Links for non-authenticated users -->
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
                    <li><a href="{% url 'join_us' %}">Join Us</a></li>
                    <li><a href="{% url 'faq' %}">FAQ</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <!-- Confirmation message function -->
    {% if messages %}
    <ul id="messages-list">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}

    <main>
        <!-- Page Content -->
        <div id="content-container">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <!-- Footer -->
    <footer id="main-footer">
        <p>&copy; 2024 HealMate. All rights reserved.</p>
        <p>
            <a href="#">Privacy Policy</a> |
            <a href="#">Terms of Service</a>
        </p>
    </footer>

    <!-- Font Awesome Script -->
    <script src="https://kit.fontawesome.com/f40ce1e09e.js" crossorigin="anonymous"></script>
</body>

</html>