{% extends "core/base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/inbox.css' %}">
{% endblock %}

{% block content %}
{% if messages %}
<ul class="alert-messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}

<div class="inbox-header">
    <h1 class="inbox-title">Inbox</h1>
    <a href="{% url 'send_message' %}" class="btn send-primary">Send New Message</a>
</div>

<div class="inbox-content">
<ul class="message-list">
    {% for message in received_messages %}
    <li class="message-item">
        <div class="message-details">
        <strong>From:</strong> {{ message.sender.get_full_name }}<br>
        <strong>Message:</strong> {{ message.content }}<br>
        <strong>Received on:</strong> {{ message.timestamp }}
    </div>
    </li>
    {% empty %}
    <li class="no-messages">No messages found.</li>
    {% endfor %}
</ul>
</div>
{% endblock %}