{% extends 'core/base.html' %}

{% block content %}
  <h1>Your Profile</h1>

  <h2>Change Password</h2>
  <a href="{% url 'account_change_password' %}">Change your password</a>

  <h1>Your Profile</h1>

  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}

    <!-- User Details Section -->
    <h2>Your Details</h2>
    <ul>
      <li><strong>Patient ID:</strong> {{ patient_id }}</li>
      <li><strong>Username:</strong> {{ profile.user.username }}</li>
      <li><strong>Full Name:</strong> {{ user.get_full_name }}</li>
      <li><strong>Email:</strong> {{ profile.user.email }}</li>
      <li><strong>Contact Number:</strong> {{ profile.contact_number }}</li>
    </ul>

  <!-- Profile Update Form -->
  <h2>Update Your Profile</h2>
  <form method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <!-- Contact Number -->
    <div>
    <label for="contact_number">Contact Number:</label>
    {{ form.contact_number }}
    </div>

    <!-- Address -->
    <div>
        <label for="address">Address:</label>
        {{ form.address }}
    </div>

    <!-- Date of Birth -->
    <div>
        <label for="date_of_birth">Date of Birth:</label>
        {{ form.date_of_birth }}
    </div>

    <!-- Gender -->
    <div>
        <label for="gender">Gender:</label>
        {{ form.gender }}
    </div>

    <!-- Medical History -->
    <div>
        <label for="medical_history">Medical History:</label>
        {{ form.medical_history }}
    </div>

    <!-- Emergency Contact -->
    <div>
        <label for="emergency_contact">Emergency Contact:</label>
        {{ form.emergency_contact }}
    </div>

    <button type="submit">Save Changes</button>
  </form>

  
{% endblock %}
