{% extends "core/base.html" %}
{% block content %}
    <h1>Send Message to {{ receiver.get_full_name }}</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="receiver">Select Recipient:</label>
        <select name="receiver" id="receiver">
            {% for patient in patients %}
            <option value="{{ patient.user.id }}">{{ patient.user.get_full_name }} (Patient)</option>
        {% endfor %}
        {% for specialist in specialists %}
            <option value="{{ specialist.user.id }}">{{ specialist.user.get_full_name }} (Specialist)</option>
        {% endfor %}
        </select>

        <label for="content">Message:</label>
        <textarea name="content" rows="5" placeholder="Type your message here..."></textarea>

        <button type="submit">Send Message</button>
    </form>
{% endblock %}
