{% extends 'core/base.html' %}

{% block content %}
  <h1>Your Specialist Profile</h1>

  <h2>Your Details</h2>

  <div>
    <h2>Your Profile Image:</h2>
    {% if profile.profile_image %}
      <img src="{{ profile.profile_image.url }}" alt="Profile Image" width="150px">
    {% else %}
      <p>You have not uploaded a profile image yet.</p>
    {% endif %}
  </div>

  <ul>
    <li><strong>Username:</strong> {{ profile.user.username }}</li>
    <li><strong>Email:</strong> {{ profile.user.email }}</li>
    <li><strong>Specialty:</strong> {{ profile.specialty.name }}</li>
    <li><strong>Location:</strong> {{ profile.location }}</li>
  </ul>

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div>
      <label for="specialty">Specialty:</label>
      {{ form.specialty }}
    </div>

    <div>
      <label for="bio">Bio:</label>
      {{ form.bio }}
    </div>

    <div>
      <label for="location">Location:</label>
      {{ form.location }}
    </div>

    <div>
        <label for="profile_image">Profile Image:</label>
        {{ form.profile_image }}
        {% if profile.profile_image %}
            <img src="{{ profile.profile_image.url }}" alt="Profile Image" width="150px">
        {% endif %}
    </div>

    <button type="submit">Save Changes</button>
  </form>

{% endblock %}
