body {
    background-color: #17A2B8;
}

/* patient_dashboard page */
.dashboard-container {
    padding: 20px;
}

.quick-links {
    margin-bottom: 30px;
}

.links-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.link-item {
    text-align: center;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 150px;
    background-color: #f9f9f9;
}

.link-item i {
    font-size: 24px;
    margin-bottom: 10px;
    display: block;
}

.appointments-section,
.health-tips,
.notifications {
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 15px;
}

.notification-message {
    background-color: #e0f7fa;
    padding: 10px;
    border-radius: 5px;
}




/* patient_profile message */
ul.messages {
    list-style: none;
    padding: 0;
}

ul.messages li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

ul.messages li.success {
    background-color: #d4edda;
    color: #155724;
}

ul.messages li.error {
    background-color: #f8d7da;
    color: #721c24;
}
